In [18]:
import os, time, random, re, json, configparser
import pandas as pd
from pandas import json_normalize

In [21]:
df_profile = pd.read_csv("../scraped_data/profile.csv", index_col=False)
df_experience = pd.read_csv("../scraped_data/experience.csv", index_col=False)
df_education = pd.read_csv("../scraped_data/education.csv", index_col=False)
df_certification = pd.read_csv("../scraped_data/certification.csv", index_col=False)
df_courses = pd.read_csv("../scraped_data/courses.csv", index_col=False)

In [22]:
df_experience.head()

,job_title,company,job_type,job_duration,order,profile
0,Business Intelligence Analyst,Netza,Full-time,1 yr,1.0,profile_1
1,Data Analyst,Vitrio,Full-time,2 mos,2.0,profile_1
2,Data Analytics Intern,Edelman Brasil,NaN,10 mos,3.0,profile_1
3,Assistant Civil Engineer,Marques Construtora e Incorporadora Ltda,NaN,4 yrs,4.0,profile_1
4,Senior Data Analyst,Joyn GmbH,Full-time,1 yr 3 mos,1.0,profile_10