In [73]:
import os, time, random, re, json, configparser
import pandas as pd
from pandas import json_normalize

In [74]:
df_profile = pd.read_csv("../scraped_data/profile.csv", index_col=False)
df_experience = pd.read_csv("../scraped_data/experience.csv", index_col=False)
df_education = pd.read_csv("../scraped_data/education.csv", index_col=False)
df_certification = pd.read_csv("../scraped_data/certification.csv", index_col=False)
df_courses = pd.read_csv("../scraped_data/courses.csv", index_col=False)

### Profile

In [75]:
df_profile.head()

,profile,name,location,designation
0,profile_1,Naiara W Jacoboski,"Munich, Bavaria, Germany",Data Analyst | Business Intelligence Analyst
1,profile_10,Sedat Karsli,"Munich, Bavaria, Germany",Senior Data Analyst
2,profile_100,Maximilian Pfleger,"Bavaria, Germany",Data Engineer at Pricenow | CS at TUM & EPFL |...
3,profile_101,"Daniel Ankamah, FRM","Bavaria, Germany",Risk Data Analyst
4,profile_102,Amisha Agrawal,"Munich, Bavaria, Germany",Data Analyst

In [76]:
# df_profile["location"] = df_profile["location"].str.replace(", Bavaria", "")
df_profile["country"] = df_profile["location"].str.split(',').str[-1]
df_profile

,profile,name,location,designation,country
0,profile_1,Naiara W Jacoboski,"Munich, Bavaria, Germany",Data Analyst | Business Intelligence Analyst,Germany
1,profile_10,Sedat Karsli,"Munich, Bavaria, Germany",Senior Data Analyst,Germany
2,profile_100,Maximilian Pfleger,"Bavaria, Germany",Data Engineer at Pricenow | CS at TUM & EPFL |...,Germany
3,profile_101,"Daniel Ankamah, FRM","Bavaria, Germany",Risk Data Analyst,Germany
4,profile_102,Amisha Agrawal,"Munich, Bavaria, Germany",Data Analyst,Germany
...,...,...,...,...,...
438,profile_95,Julia Fietz,"Munich, Bavaria, Germany",Psychologist | Neuroscientist | Data Analyst,Germany
439,profile_96,"Sylvia Endres, PhD","Nuremberg, Bavaria, Germany",Data Scientist @ Siemens IT | PhD in Statistics,Germany
440,profile_97,Tobias Reinholz,"Munich, Bavaria, Germany",Data Analyst bei ClimatePartner,Germany
441,profile_98,Dr. Dinar Katanov,"Bavaria, Germany",Reporting and Data Analyst at Webasto Thermo &...,Germany
442,profile_99,Manuel Gruber,"Freising, Bavaria, Germany",Data Analyst at Personio,Germany

### Educaiton

In [77]:
def get_specialization(title):
    l = title.split(',')
    return l

In [78]:
# df_education["specialization"] = df_education["title"].apply(lambda title: get_specialization(title))
# df_education

### Save clean data

In [79]:
df_profile.to_csv("../clean_data/profile.csv", index=False)
df_experience.to_csv("../clean_data/experience.csv", index=False)
df_education.to_csv("../clean_data/education.csv", index=False)
df_certification.to_csv("../clean_data/certification.csv", index=False)
df_courses.to_csv("../clean_data/courses.csv", index=False)
print("done")

done