In [18]:
import os, time, random, re, json, configparser
import pandas as pd
from pandas import json_normalize

In [19]:
df_profile = pd.read_csv("../scraped_data/profile.csv", index_col=0)
df_experience = pd.read_csv("../scraped_data/experience.csv", index_col=0)
df_education = pd.read_csv("../scraped_data/education.csv", index_col=0)
df_certification = pd.read_csv("../scraped_data/certification.csv", index_col=0)
df_courses = pd.read_csv("../scraped_data/courses.csv", index_col=0)

In [20]:
df_experience.head()

,company,job_type,job_duration,order,profile
job_title,,,,,
Business Intelligence Analyst,Netza,Full-time,1 yr,1,profile_1
Data Analyst,Vitrio,Full-time,2 mos,2,profile_1
Data Analytics Intern,Edelman Brasil,NaN,10 mos,3,profile_1
Assistant Civil Engineer,Marques Construtora e Incorporadora Ltda,NaN,4 yrs,4,profile_1
Senior Data Analyst,Joyn GmbH,Full-time,1 yr 3 mos,1,profile_10